$mainColor: #3c3f1c;
$secondColor: #a37544;
$gold: #ffd700;
$white-color: #ffffff;
$black-color: #121212;
$body-color: #f3f3f9;
$text-color: #777777;
$transition: all 0.3s ease-in-out;
$shadow: 0px 2px 4px #00000020;
$BigShadow: 0px 8px 24px #00000020;
@font-face {
  font-family: montserrat;
  font-display: swap;
  src: url(../webfonts/montserrat-Arabic-Regular.woff);
}
* {
  font-family: "montserrat";
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  direction: rtl;
}
::-webkit-scrollbar {
  width: 8px;
  height: 6px;
  // background-color: #eee;
  border-radius: 0px !important;
}
::-webkit-scrollbar-track {
  border-radius: 0px !important;
  background-color: #eee;
}
::-webkit-scrollbar-thumb {
  background-color: #bdbdbd;
  outline: none;
  border-radius: 20px !important;
}
:target {
  scroll-margin-top: 60px;
}
a {
  text-decoration: none;
  transition: $transition;
  color: $secondColor;
}
a:hover {
  text-decoration: none;
  color: $mainColor;
}
button:focus {
  outline: 0;
}
.row {
  margin: 0px;
}
a,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
@media (max-width: 767px) {
  .container,
  .container-fluid {
    padding: 0px 8px;
  }
}
video,
img {
  max-width: 100%;
  height: auto;
  display: inline-block;
}
.navbar-toggler {
  border: none;
  box-shadow: none !important;
}
.btn:focus {
  box-shadow: none;
}

.form-control {
  min-height: 48px;
  box-shadow: none !important;
  color: #777;
}

/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
body {
  background: url(../img/pattern.png);
  background-size: 440px 400px;
  isolation: isolate;
  position: relative;
  min-height: 100vh;
  display: flex;
  padding: 50px;
  gap: 30px;

  @media (max-width: 768px) {
    flex-direction: column;
    padding: 10px;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#f1f1f8fa 70%, #f3f3f9);
    z-index: -2;
  }
  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 200px;
    background: url(../img/footer.png);
    background-size: contain;
    background-position: 0px 50px;
    background-repeat: repeat-x;
    z-index: -1;
    opacity: 0.3;
  }
  aside {
    padding: 20px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    background-color: $white-color;
    gap: 20px;
    position: sticky;
    top: 20px;
    z-index: 2;
    max-height: 90vh;

    @media (max-width: 768px) {
      padding: 10px 20px;
      position: relative;
      flex-direction: row;
      justify-content: space-between;
    }
    img {
      width: 150px;
      height: auto;
      object-fit: contain;

      @media (max-width: 768px) {
        width: 100px;
      }
    }

    .vision {
      margin-top: auto;
    }
  }

  content {
    display: flex;
    flex-direction: column;
    width: 100%;

    .languages {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      flex-wrap: wrap;
      align-content: center;
      gap: 60px;
      min-height: 50vh;
      padding: 30px;
      position: relative;
      isolation: isolate;
      @media (max-width: 768px) {
        gap: 40px;
        padding: 30px 10px;
      }

      .language {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        background-color: $white-color;
        border-radius: 16px;
        position: relative;
        gap: 16px;
        aspect-ratio: 1/1;
        isolation: isolate;
        justify-content: center;

        &::before {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          width: 90%;
          height: 90%;
          z-index: -1;
          background-color: $white-color;
          transform: translateX(-50%) translateY(-50%) rotate(45deg);
          border-radius: 16px;
        }

        img {
          height: 100px;
          width: 150px;
          object-fit: cover;
          border-radius: 16px;
          @media (max-width: 992px) {
            height: 60px;
            width: 90px;
            border-radius: 8px;

          }
        }
        h1 {
          font-weight: bold;
          text-transform: uppercase;
          font-size: 18px !important;
        }

        &:hover {
          box-shadow: $BigShadow;
          transform: translateY(-15px) scale(1.03);
          transform-origin: center;
          z-index: 2;
        }
      }
    }
  }
  
  .navigetor{
    display: flex;
    padding: 16px;
    margin: 0;
    list-style: none;
    background-color: #fefdff;
    border-radius: 16px;
    border: 3px solid #fcf9ff;
    li{
      position: relative;
   
      
      a{
        padding: 10px 20px;
        display: flex;
        align-items: center;
        img{
          width: 20px;
          height: 20px;
          object-fit: contain;
          margin-left: 5px;
        }
      }
     
      &::after{
        content: '-';
        position: absolute;
        left: 0px;
        top: 50%;
        transform: translateY(-50%);
      }

      &:last-child::after{
        display: none;
      }
    }

  }


  .categories{
    padding: 30px 0px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    .category{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      background-color: $white-color;
      padding: 16px;
      border-radius: 16px;
      img{
        width: 150px;
        height: 100px;
        object-fit: contain;
        @media (max-width: 768px) {
          width: 120px;
        }
      }

    }
  }
}

// //////////////////////////////////////////==================
// //////////////////////////////////////////==================
// //////////////////////////////////////////==================
// //////////////////////////////////////////==================
// //////////////////////////////////////////==================
// //////////////////////////////////////////==================
// //////////////////////////////////////////==================
// //////////////////////////////////////////==================
// //////////////////////////////////////////==================
// //////////////////////////////////////////==================
// //////////////////////////////////////////==================
// //////////////////////////////////////////==================
// //////////////////////////////////////////==================
// //////////////////////////////////////////==================
// //////////////////////////////////////////==================
// //////////////////////////////////////////==================
// //////////////////////////////////////////==================
// //////////////////////////////////////////==================
// //////////////////////////////////////////==================
// //////////////////////////////////////////==================
// //////////////////////////////////////////==================
// //////////////////////////////////////////==================
// //////////////////////////////////////////==================
/* PC device :991px. */
@media (min-width: 991px) {
  body {
    font-size: 14px !important;
  }
  h1 {
    font-size: 26px !important;
  }
  h2 {
    font-size: 24px !important;
  }
  h3 {
    font-size: 20px !important;
  }
  h4 {
    font-size: 18px !important;
  }
  h5 {
    font-size: 16px !important;
  }
  h6 {
    font-size: 15px !important;
  }
  a,
  p {
    font-size: 14px !important;
  }
}
/* Tablet device :768px. */
@media (min-width: 768px) and (max-width: 991px) {
  /* Global */
  body {
    font-size: 14px !important;
  }
  h1 {
    font-size: 26px !important;
  }
  h2 {
    font-size: 22px !important;
  }
  h3 {
    font-size: 20px !important;
  }
  h4 {
    font-size: 18px !important;
  }
  h5 {
    font-size: 16px !important;
  }
  h6 {
    font-size: 15px !important;
  }
  a,
  p {
    font-size: 14px !important;
  }
}
/* small mobile :320px. */
@media (max-width: 767px) {
  /* Global */
  body {
    font-size: 13px !important;
  }
  h1 {
    font-size: 23px !important;
  }
  h2 {
    font-size: 19px !important;
  }
  h3 {
    font-size: 18px !important;
  }
  h4 {
    font-size: 17px !important;
  }
  h5 {
    font-size: 16px !important;
  }
  h6 {
    font-size: 15px !important;
  }
  a,
  p {
    font-size: 14px !important;
  }
}
